body{
    direction: ltr;
    text-align: left;
}

.menuTriger{
    left: 30px;
    right: unset;
}

.navBody{
    left: 0;
    right: unset;
    transform: translateX(-100%);
}

.up .social{
    right: 0;
    left: unset;
}

.up .social a:not(:last-child) {
    margin-right: 18px;
    margin-left: unset;
}

.up .search.vis button {
    margin: 0;
    margin-right: 10px;
    margin-left: unset;
}

.up .search button{
    margin-left: -20px;
    margin-right: unset;
}

.up .search button.cl{
    margin-left: 0;
    margin-right: unset;
}

.navTop .rtLinks > ul li:not(:last-child),
.navTop .ltLinks > ul li:not(:last-child){
    margin-right: 22px;
    margin-left: 0;
}

.navTop .rtLinks > ul li a i, .navTop .ltLinks > ul li a i{
    margin-left: 5px;
    margin-right: 0;
}

.navTop .rtLinks > ul li .drpDwn ul, .navTop .ltLinks > ul li .drpDwn ul{
    right: 35%;
}

.navTop .rtLinks > ul li .drpDwn ul .shape, .navTop .ltLinks > ul li .drpDwn ul .shape{
    right: 60%;
}

@media only screen and (min-width: 992px){
    .navTop .rtLinks > ul li .drpDwn ul, .navTop .ltLinks > ul li .drpDwn ul{
        right: 35%;
    }

    .navTop .rtLinks > ul li .drpDwn ul .shape, .navTop .ltLinks > ul li .drpDwn ul .shape{
        right: 60%;
    }
}

@media only screen and (min-width: 1200px){
    .navTop .rtLinks > ul li .drpDwn ul, .navTop .ltLinks > ul li .drpDwn ul{
        right: 50%;
    }

    .navTop .rtLinks > ul li .drpDwn ul .shape, .navTop .ltLinks > ul li .drpDwn ul .shape{
        right: 50%;
    }
}

@media only screen and (max-width: 992px){
    .car-sec .item .details h2 {
        margin-bottom: 0;
    }
}

.car-sec .swiper-button-prev{
    left: unset;
}

@media only screen and (max-width: 767px){
    .testim .ui-card-slider .left-slide {
        transform: translateX(-5%) scale(0.85);
    }
}

@media only screen and (max-width: 767px){
    .testim .ui-card-slider .right-slide {
        transform: translateX(80%) scale(0.85);
    }
}

.services .serv:nth-child(even) .details {
    padding-left: 30px;
    margin-right: 0;
}

.services .serv .details h2 span{
    padding-left: 0;
    padding-right: 20px;
}

.services .serv .details p{
    padding-right: 30px;
    padding-left: 0;
}

@media (max-width: 991px){
    .services .serv .details p {
        padding: 0;
    }
}

.grid .innerGrid .item a:not(:last-child), .grid .innerGrid .swiper-slide a:not(:last-child){
    margin-right: 5px;
    margin-left: unset;
}

.testim .arrows{
    direction: rtl;
}

/* .services .serv:nth-child(even) .details p{
    padding-left: 30px;
    padding-right: 0;
} */

footer .copy img {
    margin-left: 5px;
    margin-right: 0;
}

footer .social a:not(:last-child) {
    margin-right: 30px;
    margin-left: 0;
}

@media (max-width: 991px){
    .services .serv .details h2 span {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 991px){
    .services .serv:nth-child(even) .details {
        padding-left: 0;
    }
}