body {
  font-family: 'frt', sans-serif;
  direction: rtl;
  text-align: right;
}

* {
  font-family: inherit;
}

input, a, button {
  font-family: 'frt', sans-serif;
}

input:focus, a:focus, button:focus {
  outline: none;
}

input:hover, a:hover, button:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:focus, button:active {
  outline: none;
  box-shadow: none;
}

ul.res {
  padding: 0;
  margin: 0;
  list-style: none;
}

@font-face {
  font-family: "frt";
  src: url("../fonts/FrutigerLTArabic-55Roman.ttf") format("ttf"), url("../fonts/FrutigerLTArabic-55Roman.woff") format("woff"), url("../fonts/FrutigerLTArabic-55Roman.woff2") format("woff2"), url("../fonts/FrutigerLTArabic-55Roman.eot") format("eot");
}

@font-face {
  font-family: "frtBold";
  src: url("../fonts/FrutigerLTArabic-65Bold.ttf") format("ttf"), url("../fonts/FrutigerLTArabic-65Bold.woff") format("woff"), url("../fonts/FrutigerLTArabic-65Bold.woff2") format("woff2"), url("../fonts/FrutigerLTArabic-65Bold.eot") format("eot");
}

@font-face {
  font-family: "frtLight";
  src: url("../fonts/FrutigerLTArabic-45Light.ttf") format("ttf"), url("../fonts/FrutigerLTArabic-45Light.woff") format("woff"), url("../fonts/FrutigerLTArabic-45Light.woff2") format("woff2"), url("../fonts/FrutigerLTArabic-45Light.eot") format("eot");
}

@font-face {
  font-family: "frtBlk";
  src: url("../fonts/FrutigerLTArabic-75Black.ttf") format("ttf"), url("../fonts/FrutigerLTArabic-75Black.woff") format("woff"), url("../fonts/FrutigerLTArabic-75Black.woff2") format("woff2"), url("../fonts/FrutigerLTArabic-75Black.eot") format("eot");
}

.padd-y {
  padding: 55px 0;
}

.menuTriger {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0,0,0, 0.6);
  position: fixed;
  top: 40px;
  right: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  display: none;
}

@media (max-width: 991px) {
  .menuTriger {
    display: flex;
  }
}

/* @media only screen and (max-width: 480px) {
  .menuTriger {
    top: 50px;
  }
} */

.menuTriger i {
  color: #ffffff;
  font-size: 20px;
}

.sideNav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
}

.sideNav.open {
  opacity: 1;
  visibility: visible;
}

.navBody {
  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  height: 100vh;
  background-color: #FFF;
  padding: 24px;
  overflow-y: auto;
  transform: translateX(100%);
  z-index: 9999;
  transition: .5s;
}

.navBody.open {
  transform: translateX(0);
}

.navBody .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.navBody .head .close1{
  display: flex;
  align-items: center;
}

.navBody .head .close1 i {
  font-size: 20px;
  color: #dedede;
  cursor: pointer;
}

.navBody .links ul li {
  padding: 0 10px;
}

.navBody .links ul li:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}

.navBody .links ul li a {
  color: #000;
  transition: .5s;
  font-size: 14px;
  font-family: "frt";
  line-height: 2.857;
}

.navBody .links ul li a:hover {
  text-decoration: none;
  color: #9c9c9c;
}

.navBody .accDrop {
  border-bottom: 1px solid #ebebeb;
  display: none;
  padding: 10px;
}

@media (max-width: 991px) {
  .navBody .accDrop {
    display: block;
  }
}

.navBody .accDrop .dropHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.navBody .accDrop .dropHead span {
  color: #000;
  font-size: 14px;
  font-family: "frt";
  transition: .5s
}

.navBody .accDrop .dropHead span:hover{
  color: #9c9c9c;
}

.navBody .accDrop .dropHead span:nth-child(2) {
  width: 0;
  height: 0;
  border-top: 5px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transition: .5s;
}

.navBody .accDrop .dropHead i{
  transition: .5s;
  font-size: 9px;
}

.navBody .accDrop .dropHead i.trans {
  transform: rotate(180deg);
}

.navBody .accDrop .dropBody {
  display: none;
  padding-top: 10px;
}

.navBody .accDrop .dropBody a {
  color: #000;
  transition: .5s;
  display: block;
  /* margin: 10px 0; */
  padding: 0 15px;
}

.navBody .accDrop .dropBody a:hover {
  text-decoration: none;
  color: #9c9c9c;
}

.navBody .searchSec {
  display: none;
  margin-top: 40px;
  position: relative;
}

@media (max-width: 991px) {
  .navBody .searchSec {
    display: block;
  }
}

.navBody .searchSec input {
  height: 34px;
  border-radius: 100px;
  border: 2px solid #dedede;
  width: 100%;
  padding: 0 22px 0;
}

.navBody .searchSec input:focus {
  outline: none;
}

.navBody .searchSec button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  margin-left: 10px;
}

.navBody .searchSec button i {
  color: #000;
}

.up {
  height: 40px;
  border-bottom: 1px solid #f0f0f0;
}

@media (max-width: 991px) {
  .up {
    display: none;
  }
}

.up .container {
  height: 100%;
}

.up .cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}

.up .content{
  position: relative;
  z-index: 999;
}

.up .search.hid {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: .5s;
}

.up .search.hid .over{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
}

.up .search.hid input {
  width: 0px;
  transition: .5s;
}

/* .up .search.hid input:focus {
  border-bottom: 1px solid #000;
} */

.up .search.hid.show {
  opacity: 1;
  visibility: visible;
}

.up .search.hid.show .over{
  visibility: visible;
  opacity: 1;
}

.up .search.hid.show input {
  width: 150px;
  color: #b8b8b8;
}

.up .search.hid.show input::placeholder{
  color: #b8b8b8;
}

.up .search.vis {
  display: flex;
  align-items: center;
  justify-content: center;
}

.up .search.vis button {
  margin: 0;
  margin-left: 10px;
}

.up .search input {
  width: 150px;
  border: 0;
  transition: .5s;
}

.up .search button {
  padding: 0;
  position: relative;
  z-index: 9;
  background-color: transparent;
  border: 0;
  color: #9c9c9c;
  margin-right: -17px;
}

.up .search button.cl {
  margin-right: 0;
}

.up .search span {
  color: #b8b8b8;
}

.up .social {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  align-items: center;
}

.up .social a{
  display: inline-flex;
  align-items: center;
}

.up .social a i{
  transition: .5s;
}

.up .social a:hover i{
  color: rgba(0, 0, 0, 1);
}

.up .social .lang{
  width: 25px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #dedede;
  color: #FFF;
  border-radius: 50%;
  font-size: 12px;
  transition: .5s;
}

.up .social .lang:hover{
  background-color: rgba(0, 0, 0, .5);
  color: #FFF;
}

.up .social a:not(:last-child) {
  margin-left: 18px;
}

.up .social a i {
  color: #9c9c9c;
  font-size: 16px;
}

.navTop {
  padding: 25px 0;
}

.navTop.scroll {
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(22, 22, 22, 0.1);
  transition: .5s;  
}

.navTop .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 991px) {
  .navTop .links {
    justify-content: center;
  }
}

.navTop .logo {
  flex-basis: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .navTop .logo img{
    height: 50px;
  }
}

.navTop .rtLinks, .navTop .ltLinks {
  flex-basis: calc(100% / 3);
}

@media (max-width: 991px) {
  .navTop .rtLinks, .navTop .ltLinks {
    display: none;
  }
}

.navTop .rtLinks > ul, .navTop .ltLinks > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navTop .rtLinks > ul li:not(:last-child), .navTop .ltLinks > ul li:not(:last-child) {
  margin-left: 22px;
}

.navTop .rtLinks > ul li:hover .drpDwn ul, .navTop .ltLinks > ul li:hover .drpDwn ul {
  opacity: 1;
  visibility: visible;
  transform: translate(50%, 25px);
}

.navTop .rtLinks > ul li .drpDwn, .navTop .ltLinks > ul li .drpDwn {
  position: relative;
}

.navTop .rtLinks > ul li .drpDwn ul, .navTop .ltLinks > ul li .drpDwn ul {
  width: 155px;
  position: absolute;
  top: 0;
  right: 85%;
  transform: translate(50%, 40px);
  padding: 7px 10px;
  background-color: #FFF;
  border-radius: 3px;
  padding: 15px 10px;
  text-align: center;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transition: .5s;
}

@media (min-width: 1200px) {
  .navTop .rtLinks > ul li .drpDwn ul, .navTop .ltLinks > ul li .drpDwn ul {
    right: 50%;
  }
}

.navTop .rtLinks > ul li .drpDwn ul .shape, .navTop .ltLinks > ul li .drpDwn ul .shape {
  width: 0;
  height: 0;
  display: block;
  border-width: 14px;
  border-color: transparent transparent #ffffff;
  border-style: solid;
  top: -19px;
  position: absolute;
  right: 35%;
  transform: translateX(50%);
  z-index: -1;
}

@media (min-width: 1200px) {
  .navTop .rtLinks > ul li .drpDwn ul .shape, .navTop .ltLinks > ul li .drpDwn ul .shape {
    right: 50%;
  }
}

.navTop .rtLinks > ul li .drpDwn ul li, .navTop .ltLinks > ul li .drpDwn ul li {
  padding: 5px 0;
  width: 100%;
}

.navTop .rtLinks > ul li .drpDwn ul li:hover a {
  color: #000;
}

.navTop .rtLinks > ul li .drpDwn ul li:not(:last-child), .navTop .ltLinks > ul li .drpDwn ul li:not(:last-child) {
  border-bottom: 1px solid #f2f2f2;
}

.navTop .rtLinks > ul li .drpDwn ul li a{
  color: #969696;
}

.navTop .rtLinks > ul li .drpDwn ul li a, .navTop .ltLinks > ul li .drpDwn ul li a {
  font-size: 14px;
}

.navTop .rtLinks > ul li a, .navTop .ltLinks > ul li a {
  position: relative;
  z-index: 9;
  color: #000;
  font-size: 16px;
  transition: .5s;
}

.navTop .rtLinks > ul li a i, .navTop .ltLinks > ul li a i {
  font-size: 9px;
  margin-right: 5px;
}

.navTop .rtLinks > ul li a:hover, .navTop .ltLinks > ul li a:hover {
  color: #969696;
}

.car-sec .swiper-slide {
  position: relative;
}

.car-sec .swiper-slide img {
  width: 100%;
}

.car-sec .swiper-slide .details {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  color: #FFF;
  width: 100%;
}

.car-sec .swiper-slide .details h2 {
  font-family: "frtBlk";
  font-size: 46px;
}

@media only screen and (max-width: 767px) {
  .car-sec .swiper-slide .details h2 {
    font-size: 35px;
    margin-bottom: 0
  }
}

@media only screen and (max-width: 480) {
  .car-sec .swiper-slide .details h2 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 375px) {
  .car-sec .swiper-slide .details h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 375) {
  .car-sec .swiper-slide .details h2 {
    font-size: 30px;
  }
}

.car-sec .swiper-slide .details p {
  font-size: 32px;
  font-family: "frtLight";
}

@media only screen and (max-width: 480px) {
  .car-sec .swiper-slide .details p {
    font-size: 22px;
  }
}

@media only screen and (max-width: 480) {
  .car-sec .swiper-slide .details p {
    font-size: 22px;
  }
}

@media only screen and (max-width: 375px) {
  .car-sec .swiper-slide .details p {
    font-size: 17px;
  }
}

@media only screen and (max-width: 375) {
  .car-sec .swiper-slide .details p {
    font-size: 17px;
  }
}

.car-sec .swiper-button-prev {
  background-image: none;
  right: 50px;
}

@media (max-width: 991px) {
  .car-sec .swiper-button-prev {
    right: 25px;
  }
}

.car-sec .swiper-button-next {
  background-image: none;
  left: 50px;
}

.car-sec .swiper-button-next, .car-sec .swiper-button-prev {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

@media (max-width: 991px) {
  .car-sec .swiper-button-next, .car-sec .swiper-button-prev {
    display: none;
  }
}

.car-sec .swiper-button-next:hover, .car-sec .swiper-button-prev:hover {
  background-color: #000;
}

.car-sec .swiper-button-next i, .car-sec .swiper-button-prev i {
  font-size: 13px;
  color: #FFF;
}

@media (max-width: 767px) {
  .swiper-pagination {
    display: block;
  }
}

.swiper-pagination-bullet {
  transform: unset !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #FFF !important;
}

.swiper-pagination {
  bottom: 20px !important;
  /* background-color: #ffffff5c;
  padding: 2px 0; */
}

@media (max-width: 767px) {
  .swiper-pagination {
    display: none
  }
}

.overview {
  padding: 80px 0;
  background-color: #f7f7f7;
}

@media (max-width: 991px) {
  .overview {
    padding: 40px 0;
  }
}

.overview h2 {
  margin: 0;
  font-family: "frtBlk";
  font-size: 24px;
  margin-bottom: 65px;
  position: relative;
  color: #000
}

@media only screen and (max-width: 767px) {
  .overview h2 {
    margin-bottom: 30px;
  }
}

.overview h2:after {
  content: "";
  position: absolute;
  width: 85px;
  height: 1px;
  background-color: #000;
  bottom: -30px;
  right: 50%;
  transform: translateX(50%);
}

@media only screen and (max-width: 767px) {
  .overview h2:after {
    bottom: -20px;
  }
}

.overview p {
  font-size: 17px;
  font-family: "frtLight";
  margin: 0;
  color: rgb(0, 0, 0);
  line-height: 2;
}

.services {
  padding: 80px 0;
}

@media (max-width: 991px) {
  .services {
    padding: 40px 0;
  }
}

@media (max-width: 767px) {
  .services {
    padding: 10px 0;
  }
}

.services .serv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services .serv:not(:last-child) {
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .services .serv:not(:last-child) {
    margin-bottom: 20px;
  }
}

.services .serv:nth-child(even) .details {
  padding-right: 30px;
}

@media (max-width: 991px) {
  .services .serv:nth-child(even) .details {
    padding-right: 0;
  }
}

.services .serv:nth-child(even) .details p {
  padding-left: 0;
}

.services .serv:nth-child(even) .details h2:after {
  right: unset;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
}

.services .serv .details {
  flex-basis: 50%;
}

@media (max-width: 991px) {
  .services .serv .details {
    flex-basis: 100%;
  }
  .services .serv .details h2 {
    text-align: center;
  }
  .services .serv .details img {
    margin: auto;
  }
  .services .serv .details p {
    text-align: center;
    padding-left: 0;
  }
  .services .serv .details a {
    margin: auto;
  }
}

.services .serv .details h2 {
  font-size: 24px;
  font-family: "frtBold";
  position: relative;
  overflow: hidden;
}

.services .serv .details h2 span {
  display: inline-block;
  padding: 20px;
  padding-right: 0;
  background-color: #FFF;
  position: relative;
  z-index: 99;
  color: #000;
}

@media (max-width: 991px) {
  .services .serv .details h2 span {
    padding-right: 20px;
  }
}

.services .serv .details h2:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 90%;
  height: 1px;
  background-color: #dedede;
}

.services .serv .details img {
  display: none;
}

@media (max-width: 991px) {
  .services .serv .details img {
    display: block;
    margin-bottom: 20px;
  }
}

.services .serv .details p {
  font-size: 17px;
  font-family: "frtLight";
  color: #000;
  line-height: 2;
  padding-left: 30px;
  margin-bottom: 45px;
}

@media (max-width: 991px) {
  .services .serv .details p {
    margin-bottom: 20px;
    padding-left: 0;
  }
}

.services .serv .details a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

.services .serv .details a span {
  position: relative;
  z-index: 9;
  transition: .5s;
}

.services .serv .details a:hover {
  color: #FFF;
}

.services .serv .details a:hover:after {
  right: 0%;
}

.services .serv .details a:hover:before {
  left: 0%;
}

.services .serv .details a:after, .services .serv .details a:before {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #000;
  transition: .5s;
}

.services .serv .details a:after {
  right: -50%;
}

.services .serv .details a:before {
  left: -50%;
}

.services .serv .pic {
  flex-basis: 50%;
  display: flex;
}

@media (max-width: 991px) {
  .services .serv .pic {
    display: none;
  }
}

.grid .innerGrid:first-child {
  padding: 0 5px;
}

@media (max-width: 991px) {
  .grid .innerGrid:first-child {
    display: none;
  }
}

.grid .innerGrid:last-child {
  display: none;
}

@media (max-width: 991px) {
  .grid .innerGrid:last-child {
    display: block;
    margin-top: 30px;
  }
}

.grid .innerGrid:first-child .item a:not(:last-child){
  margin-left: 5px;
}

.grid .innerGrid:first-child .item:nth-child(1) a:nth-child(1), .grid .innerGrid:first-child .item:nth-child(1) a:nth-child(2) {
  flex-basis: 31%;
}

.grid .innerGrid:first-child .item:nth-child(1) a:nth-child(3) {
  flex-basis: 49%;
}

.grid .innerGrid:first-child .item:nth-child(2) a:nth-child(2), .grid .innerGrid:first-child .item:nth-child(2) a:nth-child(3) {
  flex-basis: 31%;
}

.grid .innerGrid:first-child .item:nth-child(2) a:nth-child(1) {
  flex-basis: 49%;
}

.grid .innerGrid:first-child .item:nth-child(3) a:nth-child(1), .grid .innerGrid:first-child .item:nth-child(3) a:nth-child(2) {
  flex-basis: 31%;
}

.grid .innerGrid:first-child .item:nth-child(3) a:nth-child(3) {
  flex-basis: 49%;
}

.grid .innerGrid .item {
  display: flex;

  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .grid .innerGrid .item {
    min-height: 444px;
  }
}

.grid .innerGrid:first-child .item:not(:last-child) {
  margin-bottom: 5px;
}

.grid .innerGrid .item a {
  position: relative;
  overflow: hidden;
}

.owl-carousel .owl-item img{
  width: auto;
}

.grid .innerGrid .item a img {
  height: 100%;
  width: 100%;
}

.grid .innerGrid:last-child .item a img {
  width: 100%;
  max-height: 100%;
}

.grid .innerGrid .item a:hover .overlay {
  transform: scale(1);
}

.grid .innerGrid .item a .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: .5s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: #FFF;
}

.owl-nav{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  margin-top: 0;
}

@media (max-width: 991px) {
  .owl-nav{
    display: none;
  }
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFF;
  transition: .5s;
}

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover{
  background-color: rgba(0, 0, 0, 1);
}

.owl-theme .owl-dots{
  margin-top: 25px;
}

.owl-theme .owl-dots .owl-dot:hover span{
  background-color: rgba(0, 0, 0, 0.7);
}

.owl-theme .owl-dots .owl-dot span{
  width: 8px;
  height: 8px;
  margin: 0 4px;
}

.owl-theme .owl-dots .owl-dot.active span{
  background-color: #000;
}

.testim {
  padding: 60px 0;
}

@media only screen and (max-width: 767px) {
  .testim {
    padding: 30px 0;
  }
}

.testim .container > h2 {
  text-align: center;
  position: relative;
  margin-bottom: 45px;
}

.testim .container > h2:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #dedede;
  display: block;
}

.testim .container > h2 span {
  display: inline-block;
  padding: 0 30px;
  position: relative;
  z-index: 99;
  background-color: #FFF;
  color: #000;
}

.testim .ourTestim {
  position: relative;
}

.testim .ui-card-slider {
  margin: auto;
  width: 100%;
  height: 450px;
}

@media only screen and (max-width: 480px){
  .testim .ui-card-slider{
    display: none;
  }
}

.testim .ui-card-slider .quote {
  padding: 0 25px;
  text-align: center;
}

.testim .ui-card-slider .quote h2 {
  font-size: 18px;
  font-family: "frtBold";
  margin-top: 35px;
}

.testim .ui-card-slider .quote p {
  font-size: 16px;
  font-family: "frtLight";
  position: relative;
  padding: 0 30px;
  line-height: 1.625;
  color: rgb(73, 72, 72);  
}

.testim .ui-card-slider .quote p:after {
  content: url("../images/quote2.png");
  position: absolute;
  top: 0;
  right: 0px;
}

.testim .ui-card-slider .quote p:before {
  content: url("../images/quote1.png");
  position: absolute;
  top: 0;
  left: 0px;
}

.testim .ui-card-slider .slide {
  width: 427px;
  top: 0;
  height: 423px;
  background-color: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .testim .ui-card-slider .slide {
    width: 320px;
  }
}

@media (max-width: 480px) {
  .testim .ui-card-slider .slide {
    width: 255px;
  }

  .testim .ui-card-slider .quote {
    padding: 0 10px;
    text-align: center;
  }

  .testim .ui-card-slider .slide{
    min-height: 360px;
  }
}

@media only screen and (max-width: 320px) {
  .testim .ui-card-slider .slide {
    width: 270px;
  }
}

@media only screen and (max-width: 320) {
  .testim .ui-card-slider .slide {
    width: 270px;
  }
}

.testim .ui-card-slider .center-slide {
  left: 50%;
  transform: translateX(-50%);
}

.testim .ui-card-slider .right-slide, .testim .ui-card-slider .left-slide {
  opacity: .3;
}

.testim .ui-card-slider .right-slide {
  transform: translateX(106%) scale(0.85);
}

@media (min-width: 992px) {
  .testim .ui-card-slider .right-slide {
    transform: translateX(59%) scale(0.85);
  }
}

@media (min-width: 1200px) {
  .testim .ui-card-slider .right-slide {
    transform: translateX(106%) scale(0.85);
  }
}

@media (max-width: 991px) {
  .testim .ui-card-slider .right-slide {
    transform: translateX(8%) scale(0.85);
  }
}

@media (max-width: 767px) {
  .testim .ui-card-slider .right-slide {
    transform: translateX(69%) scale(0.85);
  }
}

@media (max-width: 480px) {
  .testim .ui-card-slider .right-slide {
    transform: translateX(0%) scale(0.85);
  }
}

.testim .ui-card-slider .left-slide {
  transform: translateX(18%) scale(0.85);
}

@media (max-width: 767px) {
  .testim .ui-card-slider .left-slide {
    transform: translateX(5%) scale(0.85);
  }
}

@media only screen and (max-width: 320px) {
  .testim .ui-card-slider .left-slide {
    transform: translateX(3%) scale(0.85);
  }
}

@media only screen and (max-width: 320) {
  .testim .ui-card-slider .left-slide {
    transform: translateX(3%) scale(0.85);
  }
}

.testim .ui-card-slider .right-hidden-slide, .testim .ui-card-slider .left-hidden-slide {
  opacity: 0;
}

.testim .arrows {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -20px;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

@media (max-width: 991px) {
  .testim .arrows {
    display: none;
  }
}

.testim .arrows button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #999999;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 13px;
  transition: .5s;
}

@media (max-width: 767px) {
  .testim .arrows button {
    width: 35px;
    height: 35px;
  }
}

.testim .arrows button:hover {
  background-color: #000;
}

.testim .owl-carousel{
  display: none;
}

@media (max-width: 480px) {
  .testim .owl-carousel{
    display: block
  }
}

.testim .item{
  text-align: center;
}

.testim .item img{
  margin: auto;
}

.testim .item .quote h2{
  font-size: 18px;
  font-family: "frtBold";
}

.testim .item .quote p{
  font-size: 16px;
  font-family: "frtLight";
  position: relative;
  padding: 0 30px;
}

.testim .item .quote p:after {
  content: url("../images/quote2.png");
  position: absolute;
  top: 0;
  right: 0px;
}

.testim .item .quote p:before {
  content: url("../images/quote1.png");
  position: absolute;
  top: 0;
  left: 0px;
}

footer {
  padding: 80px 0;
  background-color: #000;
}

@media (max-width: 991px) {
  footer {
    padding: 30px 0;
  }
}

footer .cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 991px) {
  footer .cont {
    flex-direction: column;
  }
}

footer .cont > * {
  flex-basis: calc(100% / 3);
}

@media (max-width: 991px) {
  footer .cont > * {
    margin-bottom: 30px;
  }
}

footer .copy {
  color: #737373;
  font-size: 14px;
}

@media (max-width: 991px) {
  footer .copy {
    order: 3;
    margin-bottom: 0;
    text-align: center;
  }
}

footer .copy img {
  margin-right: 5px;
}

footer .btLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  footer .btLogo {
    order: 1;
  }

  footer .btLogo img{
    height: 50px;
  }
}

footer .social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 991px) {
  footer .social {
    order: 2;
  }
  footer .social a i{
    font-size: 20px;
  }
}

footer .social a:not(:last-child) {
  margin-left: 30px;
}

footer .social a:hover i {
  color: #FFF;
}

footer .social a i {
  color: #9c9c9c;
  font-size: 24px;
  transition: .5s;
}

@media (max-width: 991px) {
  footer .social a i{
    font-size: 20px;
  }
}

/*# sourceMappingURL=style__home.css.map */